@import "~bootstrap/scss/bootstrap";

header{

    ul{
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        li{
            list-style-type: none;
            display: inline-block;
            a{
                text-decoration: none;
            }
        }
    }
}