@import "~bootstrap/scss/bootstrap";

// header.blade.php
header{
    background-color: rgb(2, 130, 249);
    .up-nav{
        color: white;
    }
    nav{
        background-color: white;
        ul{
            margin: 0 auto;
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            
            li{
                list-style-type: none;
                display: inline-block;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    
    #jumbotron{
        height: 450px;
        background-image: url(../../public/images/jumbotron.jpg);
        background-size: cover;
    }
}

//comics.blade.php
#comicon{
    background-color: rgb(28, 28, 28);
    color: white;

    position: relative;
    h1{
        width: fit-content;
        padding: 5px;
        background-color: rgb(2, 130, 249);
        position: absolute;
        top: -50px
    }
}
figure{
    img{ 
        width: 200px;
        aspect-ratio: 2/2;
        object-fit: cover;
        object-position: top;
    }
    figcaption{
        margin-top: .9rem;
        font-family: "Lucida Console", "Courier New", monospace;
        font-weight: bold;
        font-size: small;
    }
}


//footer.blade.php
#footer{
    background-image: url(../../public/images/footer-bg.jpg);
    max-height: max-content;
    color: white;
    
}